<div class="auto-1489112455879 m-layer z-show" style="top: 41px; left: 626px;"><div class="zbar" id="auto-id-qlKM8hSlso4azqLH"><div class="zttl">登录</div></div><div class="zcnt"><div class="lyct lyct-1" id="auto-id-9uQLVaDpg5qlDoQF">
<div class="n-log2 n-log2-1 f-cb">
<div class="u-main">
<div class="u-plt"></div>
<div class="f-mgt10">
<a href="javascript:;" class="u-btn2 u-btn2-2" data-action="login" data-type="mobile"><i>手机号登录</i></a>
</div>
<div class="f-mgt10">
<a href="javascript:;" class="u-btn2 u-btn2-1" data-action="reg"><i>注&#12288;册</i></a>
</div>
</div>
<div class="u-alt">
<ul>
<li><a href="http://music.163.com/api/sns/authorize?snsType=10&amp;clientType=web2&amp;callbackType=Login&amp;forcelogin=true" target="_blank" data-action="login" data-type="thirdparty"><i class="u-mlg2 u-mlg2-wx"></i>微信登录</a></li>
<li><a href="http://music.163.com/api/sns/authorize?snsType=5&amp;clientType=web2&amp;callbackType=Login&amp;forcelogin=true" target="_blank" data-action="login" data-type="thirdparty"><i class="u-mlg2 u-mlg2-qq"></i>QQ登录</a></li>
<li><a href="http://music.163.com/api/sns/authorize?snsType=2&amp;clientType=web2&amp;callbackType=Login&amp;forcelogin=true" target="_blank" data-action="login" data-type="thirdparty"><i class="u-mlg2 u-mlg2-sn"></i>微博登录</a></li>
<li><a href="javascript:;" data-action="login" data-type="netease"><i class="u-mlg2 u-mlg2-wy"></i>网易邮箱帐号登录</a></li>
</ul>
</div>
</div>
</div></div><span class="zcls" title="关闭窗体" id="auto-id-9Tk2IKO96ORUZQMG">×</span></div>
g2 . {float:left;width:224px;padding:0 35px 3px 40px;border-right:1px dotted #ccc;}.n-log2 .u-main .u-plt{height:120px;background:url(../../../style/web2/img/platform.png?33237e91d3532c356b2a2784dbcb8a5d) 