@charset "utf-8";
/* CSS Document */
html,body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    background: #dadada url(../img/m-bg.png) repeat;
    font-family: '微软雅黑';
    text-align: center;
    min-width: 1397px;
    max-height: 709px
}

.header-wrap {
    background: #155697 url(../img/hd-bg.png) repeat-x;
    height: 65px;
    border: 1px solid #155697;
    position: relative;
    z-index: 100;
}

.header-wrap .inner {
    margin: 0px auto;
    width: 985px;
    height: 100%;
    text-align: left;
}

.header-wrap .logo-wrap {
    height: 100%;
    position: relative;
}

.header-wrap .logo-wrap h2 {
    margin: 0px auto;
    text-align: left;
}

.header-wrap .logo-wrap .wlc {
    position: absolute;
    top: 0px;
    right: 0px;
}

.header-wrap .shadow {
    /*background: url(../img/sd-bg.png) top left repeat-x;*/
    position: absolute;
    width: 100%;
    height: 32px;
    top: 64px;
    left: 0px;
    min-width: 1397px;
}

.header-wrap .shadow .shadow-inner {
    background: url(../img/hd-sd.png) top left no-repeat;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 1397px;
    margin-left: -699px;
    height: 32px;
}

.content-wrap {
    width: 985px;
    margin: 0px auto;
    position: relative;
    height: 698px;
}

.content-wrap .outter {
    width: 995px;
    background: url(../img/bg.png) no-repeat;
    height: 100%;
    text-align: left;
}

.content-wrap .inner {
    text-align: center;
    padding-top: 90px;
}

.title-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title-box img {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.title-box h1 {
    margin: 1.0em auto 0px 8px;
    text-align: center;
    font-size: 1.6em;
    -webkit-text-shadow: 0px 0px 8px #9ba2a7;
    -moz-text-shadow: 0px 0px 8px #9ba2a7;
    text-shadow: 0px 0px 8px #9ba2a7;
    font-weight: normal;
    font-family: '微软雅黑';
}

.content-wrap .login-box {
    margin: 2.0em auto 0;
    width: 330px;
    padding-left: 14px;
    padding-right: 14px;
}

.footer-wrap {
    text-align: center;
    background-color: #ffffff;
    font-size: 12px;
    width: 985px;
    margin: 0px auto;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 4px 2px 3px #888888;
}

.footer-wrap p {
    margin: 0px;
}

.login-box form {
    margin: 0px auto;
    padding: 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.login-box form .input-box {
    margin-bottom: 25px;
}

.login-box .alert-error {
    margin-bottom: 25px;
    color: red;
}

.input-box .left {
    width: 150px;
    float: left;
    overflow: hidden;
    zoom: 1;
}

.input-box .right {
    width: 100px;
    float: right;
    overflow: hidden;
    zoom: 1;
}

.input-box {
    height: 44px;
    width: 280px;
    border: 1px solid #e7e9eb;
    padding: 5px 5px 3px 45px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #888888;
    overflow: hidden;
    *zoom: 1;
}

.input-box .input-inner {
   /* border: 1px solid #babcc0;
    text-align: left;
    border-radius: 4px;
    padding: 5px 5px 3px 5px;*/
}

.input-username-bg {
    background: url("../img/username-bg.png") no-repeat left center;
    background-color: #FFF;
}

.input-password-bg {
    background: url("../img/password-bg.png") no-repeat left center;
    background-color: #FFF;
}

.input-box .input-inner input {
    padding: 0px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    width: 99%;
    outline: none;
}

input:-webkit-autofill {
    background: none;
    background-color: #fff;
}

.login-btn {
    background: #2c96d3;
    border-radius: 4px;
    font-size: 14px;
    border: 0px;
    padding: 0px;
    font-family: '微软雅黑';
    color: #ffffff;
    height: 39px;
    line-height: 39px;
    width: 100%;
}